:root {
  --page-colour-white: #ffffff;
  --page-colour-black: #000000;
  --text-colour-white: #ffffff;
  --text-colour-lightgrey: #757575;
  --text-colour-black: #000000;
  --second-title-color: #757575;
  --main-hover-focus-color: #2196f3;
  --second-hover-focus-color: #188ce8;
  --header-up-bg: rgb(255, 174, 0);
  --header-down-bg: #ffffff;
  --footer-bg: #232325;
  --button-color: lightgreen;
  --button-hover-focus-color: rgb(119, 237, 119);
  --bg-card-color: lightyellow;
  --card-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --hero-bg: #c4c4c4;
  --hero-gradient: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)
  );
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.address {
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #acabab;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.address {
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #acabab;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 3px;
  border-radius: 2px;
}

.header {
  position: fixed;
  inset: 0;
  height: fit-content;
  z-index: 1;
  background-color: var(--header-down-bg);
  border-bottom: rgb(211, 203, 203) 1px solid;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__pagelist {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header__pagelist {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1300px) {
  .header__pagelist {
    gap: 60px;
  }
}

.header__pagelist-item {
  font-weight: 600;
  font-size: 18px;
}
@media screen and (min-width: 1300px) {
  .header__pagelist-item {
    font-size: 20px;
  }
}

.header__pagelist-link {
  display: block;
  color: var(--main-title-color);
  padding-top: 31px;
  padding-bottom: 31px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__pagelist-link:hover, .header__pagelist-link:focus {
  color: var(--main-hover-focus-color);
}

.header__contactlist {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header__contactlist {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header__contactlist-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-title-color);
  padding-top: 10px;
  padding-bottom: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contactlist-link:hover, .header__contactlist-link:focus {
  color: var(--main-hover-focus-color);
}

.header__contactlist-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-text-color);
  z-index: 2;
}

.header-menu .header-menu__container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
}

.header-menu.is-open {
  display: block;
}
@media screen and (min-width: 1024px) {
  .header-menu.is-open {
    display: none;
  }
}

.header-menu__button {
  display: inline-flex;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
.header-menu__button:hover, .header-menu__button:focus {
  color: var(--main-hover-focus-color);
}
@media screen and (min-width: 1024px) {
  .header-menu__button {
    display: none;
  }
}

.header-menu__button .header-menu__cross {
  display: none;
}

.header-menu__button.is-open .header-menu__cross {
  display: block;
}

.header-menu__button.is-open .header-menu__burger {
  display: none;
}

.header-menu__cross {
  fill: currentColor;
}

.header-menu__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header-menu__pagelist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-menu__pagelist-link {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  color: var(--main-title-color);
}

.header-menu__current-icon {
  margin-left: 20px;
}

.header-menu__phonelist {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
  font-weight: 500;
}

.header-menu__phonelist-link {
  display: flex;
  align-items: center;
  color: var(--main-title-color);
}

.header-menu__address-link {
  font-size: 20px;
  color: var(--main-title-color);
}

.mp-hero {
  padding-bottom: 40px;
  margin-top: 85px;
  border-bottom: rgb(211, 203, 203) 1px solid;
}

.mp-hero__overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-left: auto;
  margin-right: auto;
  background-image: var(--hero-gradient), url(..//../images/main-page/hero.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mp-hero__overlay {
    background-image: var(--hero-gradient), url(..//../images/main-page/hero.jpg);
  }
}
@media screen and (min-width: 768px) {
  .mp-hero__overlay {
    background-image: var(--hero-gradient), url(..//../images/main-page/hero.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .mp-hero__overlay {
    background-image: var(--hero-gradient), url(..//../images/main-page/hero.jpg);
  }
}
@media screen and (min-width: 1440px) {
  .mp-hero__overlay {
    background-image: var(--hero-gradient), url(..//../images/main-page/hero.jpg);
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .mp-hero__overlay {
    background-image: var(--hero-gradient), url(..//../images/main-page/hero.jpg);
  }
}

.mp-hero__logo {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .mp-hero__logo {
    width: 240px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .mp-hero__logo {
    width: 300px;
    height: 150px;
  }
}
@media screen and (min-width: 1440px) {
  .mp-hero__logo {
    width: 450px;
    height: 225px;
  }
}

.mp-hero__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  color: var(--text-colour-black);
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
@media screen and (min-width: 480px) {
  .mp-hero__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .mp-hero__text {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .mp-hero__text {
    font-size: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .mp-hero__text {
    font-size: 36px;
  }
}

.mp-services {
  background-color: var(--page-colour-white);
  padding-top: 80px;
  padding-bottom: 80px;
}

.mp-services__title {
  font-size: 32px;
  margin-bottom: 40px;
  color: var(--main-title-color);
}

.mp-services__list {
  max-width: 480px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .mp-services__list {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .mp-services__list {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .mp-services__list {
    max-width: 1440px;
  }
}

.mp-services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--page-colour-black);
  box-shadow: var(--card-box-shadow);
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
  margin: 20px;
}

.mp-services__subtitle {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--text-colour-white);
}
@media screen and (min-width: 1024px) {
  .mp-services__subtitle {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .mp-services__subtitle {
    font-size: 24px;
  }
}

.mp-services__text {
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-colour-white);
}
@media screen and (min-width: 1024px) {
  .mp-services__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .mp-services__text {
    font-size: 18px;
  }
}

.mp-services__buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

.mp-services__button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
}

.mp-services__link {
  font-size: 20px;
  color: var(--text-colour-black);
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mp-services__link {
    font-size: 22px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1024px) {
  .mp-services__link {
    font-size: 24px;
    font-weight: 700;
  }
}
.mp-services__link:hover, .mp-services__link:focus {
  color: var(--main-hover-focus-color);
}

.mp-doctors {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--page-colour-black);
}

@media screen and (min-width: 768px) {
  .mp-doctors .container {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .mp-doctors .container {
    width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .mp-doctors .container {
    width: 1440px;
  }
}

.mp-doctors__title {
  font-size: 32px;
  color: var(--text-colour-white);
  margin-bottom: 40px;
}

.mp-doctors__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.mp-doctors__item {
  max-width: 630px;
  height: auto;
  text-align: center;
  background-color: var(--bg-card-color);
  box-shadow: var(--card-box-shadow);
  border-radius: 0px 0px 4px 4px;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .mp-doctors__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .mp-doctors__item {
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (min-width: 1440px) {
  .mp-doctors__item {
    width: calc((100% - 90px) / 4);
  }
}

.mp-doctors__item:last-child {
  display: none;
}
@media screen and (min-width: 768px) {
  .mp-doctors__item:last-child {
    display: block;
  }
}

.mp-doctors__image {
  width: 100%;
}

.mp-doctors__subtitle {
  font-size: 20px;
  color: var(--main-title-color);
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (min-width: 1440px) {
  .mp-doctors__subtitle {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.mp-doctors__text {
  font-size: 18px;
  color: var(--main-title-color);
  line-height: 1.5;
}

.mp-doctors__link {
  font-size: 20px;
  color: var(--text-colour-white);
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mp-doctors__link {
    font-size: 22px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1024px) {
  .mp-doctors__link {
    font-size: 24px;
    font-weight: 700;
  }
}
.mp-doctors__link:hover, .mp-doctors__link:focus {
  color: var(--main-hover-focus-color);
}

.mp-reviews {
  background-color: var(--page-colour-white);
  padding-top: 80px;
  padding-bottom: 80px;
}

.mp-reviews__title {
  text-align: center;
  margin-bottom: 40px;
}

.mp-reviews__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .mp-reviews__list {
    flex-direction: row;
    gap: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .mp-reviews__list {
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .mp-reviews__list {
    gap: 135px;
  }
}

.mp-reviews__item {
  background-color: var(--page-colour-black);
  box-shadow: var(--card-box-shadow);
  border-radius: 0px 0px 10px 10px;
}
@media screen and (min-width: 768px) {
  .mp-reviews__item {
    width: 234px;
    height: 234px;
  }
}
@media screen and (min-width: 1024px) {
  .mp-reviews__item {
    width: 300px;
    height: 300px;
  }
}

.mp-reviews__header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--page-colour-black);
  padding: 5px;
}

.mp-reviews__image {
  margin-right: 30px;
}

.mp-reviews__name {
  font-weight: 500;
  color: var(--text-colour-white);
}
@media screen and (min-width: 1024px) {
  .mp-reviews__name {
    font-size: 18px;
    font-weight: 600;
  }
}

.mp-reviews__profession {
  font-size: 14px;
  color: var(--text-colour-white);
}
@media screen and (min-width: 1024px) {
  .mp-reviews__profession {
    font-size: 16px;
  }
}

.mp-reviews__body {
  padding: 15px;
  border-top: 1px solid white;
}

.mp-reviews__text {
  font-size: 14px;
  text-align: center;
  color: var(--text-colour-white);
}
@media screen and (min-width: 1024px) {
  .mp-reviews__text {
    font-size: 18px;
  }
}

.mp-partners {
  padding-top: 80px;
  padding-bottom: 80px;
}

.mp-partners__title {
  text-align: center;
  margin-bottom: 40px;
}

.mp-partners__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .mp-partners__list {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
  }
}

.mp-partners__item {
  width: 175px;
}
@media screen and (min-width: 768px) {
  .mp-partners__item {
    width: 225px;
  }
}
@media screen and (min-width: 1024px) {
  .mp-partners__item {
    width: 300px;
  }
}

.services {
  padding-top: 100px;
  padding-bottom: 80px;
}
@media screen and (min-width: 1024px) {
  .services {
    padding-top: 140px;
  }
}

@media screen and (min-width: 768px) {
  .services .container {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .services .container {
    width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .services .container {
    width: 1440px;
  }
}

.services__title {
  font-size: 32px;
  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 40px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.services__item {
  max-width: 630px;
  height: auto;
  text-align: center;
  background-color: var(--bg-card-color);
  box-shadow: var(--card-box-shadow);
  border: 3px solid black;
  border-radius: 4px 4px 10px 10px;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .services__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .services__item {
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (min-width: 1440px) {
  .services__item {
    width: calc((100% - 90px) / 4);
  }
}

.services__item:last-child {
  display: none;
}
@media screen and (min-width: 768px) {
  .services__item:last-child {
    display: block;
  }
}

.services__image {
  width: 100%;
}

.services__subtitle {
  font-size: 20px;
  color: var(--main-title-color);
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (min-width: 1440px) {
  .services__subtitle {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.services__text {
  font-size: 18px;
  color: var(--main-title-color);
  line-height: 1.5;
}

.services__link {
  font-size: 20px;
  color: var(--text-colour-white);
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .services__link {
    font-size: 22px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1024px) {
  .services__link {
    font-size: 24px;
    font-weight: 700;
  }
}
.services__link:hover, .services__link:focus {
  color: var(--main-hover-focus-color);
}

.prices {
  padding-top: 100px;
  padding-bottom: 80px;
}
@media screen and (min-width: 1024px) {
  .prices {
    padding-top: 140px;
  }
}

.prices__title {
  font-size: 32px;
  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 40px;
}

.prices__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 924px;
  background-color: var(--page-colour-black);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .prices__wrap {
    height: 970px;
  }
}
@media screen and (min-width: 1024px) {
  .prices__wrap {
    flex-direction: row;
    height: 500px;
  }
}

.prices__block {
  width: 100%;
  height: 417px;
  background-color: var(--bg-card-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .prices__block {
    height: 440px;
  }
}

.prices__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.prices__item::after {
  content: "";
  display: block;
  height: 1px;
  flex-grow: 1;
  background-color: black;
}

.prices__text {
  font-size: 14px;
  color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .prices__text {
    font-size: 16px;
  }
}

.prices__text:first-child {
  margin-right: 20px;
}

.prices__text:last-child {
  margin-left: 20px;
  order: 1;
}

.doctors {
  padding-top: 100px;
  padding-bottom: 80px;
}
@media screen and (min-width: 1024px) {
  .doctors {
    padding-top: 140px;
  }
}

@media screen and (min-width: 768px) {
  .doctors .container {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .doctors .container {
    width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .doctors .container {
    width: 1440px;
  }
}

.doctors__title {
  font-size: 32px;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.doctors__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .doctors__list {
    justify-content: left;
  }
}

.doctors__item {
  display: block;
  text-align: center;
  max-width: 630px;
  height: auto;
  background-color: var(--page-colour-white);
  box-shadow: var(--card-box-shadow);
  border: var(--page-colour-black) solid 3px;
  border-radius: 4px 4px 10px 10px;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .doctors__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1024px) {
  .doctors__item {
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (min-width: 1440px) {
  .doctors__item {
    width: calc((100% - 120px) / 5);
  }
}

.doctors__image {
  width: 100%;
}

.doctors__subtitle {
  font-size: 20px;
  color: var(--main-title-color);
  margin-top: 15px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .doctors__subtitle {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .doctors__subtitle {
    margin-bottom: 20px;
  }
}

.doctors__text {
  color: var(--main-title-color);
}

.doctors__link {
  display: inline-block;
  text-align: center;
  background-color: var(--text-colour-black);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.doctors__link:hover, .doctors__link:focus {
  background-color: var(--main-hover-focus-color);
}

.gallery {
  padding-top: 100px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .gallery {
    padding-top: 140px;
  }
}

.gallery__title {
  font-size: 32px;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
}

.gallery__item {
  position: relative;
  box-shadow: var(--card-box-shadow);
}

.gallery-image__preview {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image__preview:hover {
  transform: scale(1.03);
}

.gallery-image__full {
  display: block;
  height: 100%;
}

.contacts {
  padding-top: 100px;
}
@media screen and (min-width: 1024px) {
  .contacts {
    padding-top: 140px;
  }
}

.contacts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__title {
  font-size: 32px;
  text-align: center;
  color: var(--text-colour-black);
  margin-bottom: 40px;
}

.contacts-info__title {
  text-align: center;
  font-size: 28px;
  color: var(--text-colour-black);
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .contacts-info__title {
    text-align: left;
  }
}

.contacts-info__text {
  color: var(--text-colour-black);
  text-align: center;
  margin-bottom: 40px;
}

.contacts-info__links {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contacts-info__links {
    align-items: start;
    margin-left: 30px;
  }
}

.contacts-info__address,
.contacts-info__mail {
  margin-bottom: 30px;
}

.contacts-info__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts-info__address,
.contacts-info__mail,
.contacts-info__phone {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-colour-black);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-info__address:hover, .contacts-info__address:focus,
.contacts-info__mail:hover,
.contacts-info__mail:focus,
.contacts-info__phone:hover,
.contacts-info__phone:focus {
  color: var(--main-hover-focus-color);
}

.contacts-info__address-icon,
.contacts-info__phone-icon,
.contacts-info__mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-map iframe {
  margin-top: 80px;
  width: 100%;
  height: 400px;
  margin-bottom: -5px;
}

.footer {
  background-color: var(--page-colour-black);
}

.footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
  }
}

.footer-title {
  font-size: 28px;
  text-align: center;
  color: var(--page-colour-white);
}

.footer-contacts__wrap {
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-contacts__wrap {
    width: 33.333%;
    margin-bottom: 0px;
  }
}

.footer__contactlist {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.footer__contactlist-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--second-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contactlist-link:hover, .footer__contactlist-link:focus {
  color: var(--main-hover-focus-color);
}

.footer__contactlist-icon {
  margin-right: 10px;
  fill: currentColor;
}

.footer-pages__wrap {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-pages__wrap {
    width: 66.666%;
  }
}

.footer-pages__lists {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .footer-pages__lists {
    justify-content: space-around;
    gap: 0;
  }
}

.footer-pages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-pages__item {
  position: relative;
  width: 100px;
  height: 30px;
  border-bottom: 1px solid var(--second-title-color);
  padding-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .footer-pages__item {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .footer-pages__item {
    width: 200px;
  }
}
.footer-pages__item::before {
  position: absolute;
  top: 20%;
  left: -20%;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--main-hover-focus-color);
}
@media screen and (min-width: 480px) {
  .footer-pages__item::before {
    left: -15%;
  }
}
@media screen and (min-width: 768px) {
  .footer-pages__item::before {
    left: -10%;
  }
}

.footer-pages__link {
  display: block;
  width: 100%;
  font-size: 16px;
  color: var(--second-title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-pages__link:hover, .footer-pages__link:focus {
  color: var(--main-hover-focus-color);
}

html {
  scroll-behavior: smooth;
}

.sub-header {
  position: absolute;
  top: 0;
}

.to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  color: var(--main-title-color);
  background: var(--button-color);
  border-radius: 50%;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  transition: all 0.3s ease-in-out;
  animation: scrollUpBtn 2s infinite;
}
.to-top:hover, .to-top:focus {
  color: var(--bg-text-color);
  background: var(--button-hover-focus-color);
}
@media screen and (min-width: 768px) {
  .to-top {
    width: 60px;
    height: 60px;
    bottom: 16px;
    right: 32px;
    font-size: 18px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .to-top {
    width: 70px;
    height: 70px;
    font-size: 20px;
    font-weight: 700;
  }
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

@keyframes scrollUpBtn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */