.partners {
  padding-top: 80px;
  padding-bottom: 80px;
}

.partners_title {
  text-align: center;
  margin-bottom: 40px;
}

.partners_list {
  display: flex;
}

.partners_item {
  width: 300px;
  height: 80px;
  outline: 1px solid black;
  margin: 0 auto;
}
