.services {
  background-color: rgb(147, 161, 228);
  padding-top: 80px;
  padding-bottom: 80px;
}

.services_title {
  font-size: 32px;
  margin-bottom: 40px;
}

.services_list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.services_item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 450px;
  height: 600px;

  background-color: #fff;
  padding: 20px;
}

.services_image {
  width: 100%;
  height: 300px;
  padding: 20px;
  outline: 1px solid black;
  margin-bottom: 20px;
}

.services_subtitle {
  margin-bottom: 20px;
}

.services_text {
  font-size: 18px;
  line-height: 1.5;
}
