.main-page__about {
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-page__about-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-page__image {
  @include sm-desktop {
    float: left;
    padding-right: 20px;
  }
  @include desktop {
    float: none;
  }
}

.main-page__title {
  font-size: 32px;
  margin-bottom: 40px;
}

.main-page__wrap {
  @include desktop {
    display: flex;
    align-items: center;
  }
}

.main-page__subtitle {
  margin-bottom: 20px;
}

.main-page__text {
  font-size: 18px;
  line-height: 1.5;

  @include desktop {
    width: 750px;
  }
}
