.main-page__about {
  padding-top: 40px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include sm-desktop {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.main-page__about-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-page__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include sm-desktop {
    display: block;
  }

  @include desktop {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.main-page__image {
  margin-bottom: 30px;

  @include sm-desktop {
    float: left;
    margin-bottom: 0;
    padding-right: 20px;
  }
  @include desktop {
    float: none;
  }
}

.main-page__title {
  font-size: 32px;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 30px;
  }
}

.main-page__subtitle {
  margin-bottom: 10px;
}

.main-page__text-big {
  display: none;
  @include mobile {
    display: block;
    font-size: 18px;
    line-height: 1.5;
  }

  @include desktop {
    width: 750px;
  }
}

.main-page__text-small {
  font-size: 18px;
  line-height: 1.5;

  @include mobile {
    display: none;
  }
}

.main-page__text-link {
  font-style: italic;
}
