.hero {
  padding-top: 140px;
  padding-bottom: 140px;
  @include tablet {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  @include sm-desktop {
    padding-top: 220px;
    padding-bottom: 220px;
  }
  @include desktop {
    padding-top: 260px;
    padding-bottom: 260px;
  }
}

.hero__overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-left: auto;
  margin-right: auto;
  background-image: var(--hero-gradient), url(..//../images/main-page/hero.jpg);
  @include retina {
    background-image: var(--hero-gradient),
      url(..//../images/main-page/hero.jpg);
  }
  @include tablet {
    background-image: var(--hero-gradient),
      url(..//../images/main-page/hero.jpg);
    @include retina {
      background-image: var(--hero-gradient),
        url(..//../images/main-page/hero.jpg);
    }
  }
  @include desktop {
    background-image: var(--hero-gradient),
      url(..//../images/main-page/hero.jpg);
    @include retina {
      background-image: var(--hero-gradient),
        url(..//../images/main-page/hero.jpg);
    }
  }
}

.hero__title {
  display: block;
  color: white;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;

  @include tablet {
    font-size: 50px;
  }
  @include sm-desktop {
    font-size: 60px;
  }
  @include desktop {
    font-size: 70px;
  }
}
