.main-page__about {
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-page__title {
  font-size: 32px;
  margin-bottom: 40px;
}

.main-page__wrap {
  display: flex;
  gap: 40px;
}

.main-page__info {
  width: 730px;
}

.main-page__subtitle {
  margin-bottom: 20px;
}

.main-page__text {
  font-size: 18px;
  line-height: 1.5;
}
