.main-page__reviews {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #b1a2a2;
}

.main-page__reviews-title {
  text-align: center;
  margin-bottom: 40px;
}

.main-page__reviews-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  @include tablet {
    flex-direction: row;
    gap: 18px;
  }

  @include sm-desktop {
    gap: 32px;
  }

  @include desktop {
    gap: 135px;
  }
}

.main-page__reviews-item {
  background-color: rgb(225, 240, 225);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include tablet {
    width: 234px;
    height: 234px;
  }

  @include sm-desktop {
    width: 300px;
    height: 300px;
  }
}

.main-page__reviews-header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px;
  background-color: lightblue;
}

.main-page__reviews-image {
  background-color: rgb(0, 0, 0);
  margin-right: 30px;
}

.main-page__reviews-name {
  font-weight: 500;

  @include sm-desktop {
    font-size: 20px;
    font-weight: 600;
  }
}

.main-page__reviews-profession {
  font-size: 14px;

  @include sm-desktop {
    font-size: 18px;
  }
}

.main-page__reviews-body {
  padding: 15px;
}

.main-page__reviews-text {
  font-size: 14px;
  text-align: center;

  @include sm-desktop {
    font-size: 18px;
  }
}
