.mp-services {
  background-color: rgb(195, 200, 224);
  padding-top: 80px;
  padding-bottom: 80px;
}

.mp-services__title {
  font-size: 32px;
  margin-bottom: 40px;
}

.mp-services__list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.mp-services__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 440px;
  height: 600px;

  background-color: rgb(255, 255, 255);
  box-shadow: var(--card-box-shadow);
  border-radius: 0px 0px 4px 4px;

  padding: 20px;
}

.mp-services__subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mp-services__text {
  font-size: 18px;
  line-height: 1.5;
}

.mp-services__buttons {
  display: flex;
  justify-content: center;
  gap: 50px;

  margin-top: 30px;
}

.mp-services__button {
  width: 80px;
  height: 80px;

  border-radius: 50%;
  border: none;
}
