.mp-hero {
  --hero-bg: #c4c4c4;
  padding-top: 140px;
  padding-bottom: 140px;

  @include tablet {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  @include sm-desktop {
    padding-top: 220px;
    padding-bottom: 220px;
  }
  @include desktop {
    padding-top: 260px;
    padding-bottom: 260px;
  }
}

.mp-hero__overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  margin-left: auto;
  margin-right: auto;

  background-image: var(--hero-gradient), url(..//../images/main-page/hero.jpg);

  @include retina {
    background-image: var(--hero-gradient),
      url(..//../images/main-page/hero.jpg);
  }

  @include tablet {
    background-image: var(--hero-gradient),
      url(..//../images/main-page/hero.jpg);

    @include retina {
      background-image: var(--hero-gradient),
        url(..//../images/main-page/hero.jpg);
    }
  }

  @include desktop {
    background-image: var(--hero-gradient),
      url(..//../images/main-page/hero.jpg);

    @include retina {
      background-image: var(--hero-gradient),
        url(..//../images/main-page/hero.jpg);
    }
  }
}

.mp-hero__title {
  width: fit-content;

  font-size: 30px;
  font-weight: 700;
  color: var(--bg-text-color);

  margin: 0 auto;

  @include mobile {
    font-size: 40px;
  }

  @include tablet {
    font-size: 50px;
  }
  @include sm-desktop {
    font-size: 60px;
  }
  @include desktop {
    font-size: 70px;
  }
}
