.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.address {
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
  &-thumb {
    background-color: #acabab;
    &:hover {
      background-color: #555;
    }
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
