:root {
  --page-colour-white: #ffffff;
  --page-colour-black: #000000;

  --text-colour-white: #ffffff;
  --text-colour-lightgrey: #757575;

  --text-colour-black: #000000;

  // --main-title-color: #212121;
  --second-title-color: #757575;
  // --bg-text-color: #ffffff;

  --main-hover-focus-color: #2196f3;
  --second-hover-focus-color: #188ce8;

  --header-up-bg: rgb(255, 174, 0);
  --header-down-bg: #ffffff;
  --footer-bg: #232325;

  --button-color: lightgreen;
  --button-hover-focus-color: rgb(119, 237, 119);

  --bg-card-color: lightyellow;
  --card-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  --hero-bg: #c4c4c4;
  // --hero-gradient: linear-gradient(
  //   rgba(47, 48, 58, 0.6),
  //   rgba(47, 48, 58, 0.6)
  // );
  --hero-gradient: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1)
  );
}
