.doctors {
  padding-top: 40px;
  padding-bottom: 80px;
}

.doctors__title {
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
}

.doctors__list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.doctors__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 360px;
  background-color: rgb(225, 240, 225);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 15px;
}

.doctors__subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.doctors__text {
  font-size: 18px;
  line-height: 1.5;
}

.doctors__link {
  font-size: 24px;
  font-weight: 700;
}
