.doctors {
  padding-top: 100px;
  padding-bottom: 80px;

  @include sm-desktop {
    padding-top: 140px;
  }
}

.doctors .container {
  @include tablet {
    width: 768px;
  }

  @include sm-desktop {
    width: 1024px;
  }

  @include desktop {
    width: 1440px;
  }
}

.doctors__title {
  font-size: 32px;
  text-align: center;
  color: var(--main-title-color);

  margin-bottom: 40px;
}

.doctors__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  @include tablet {
    justify-content: left;
  }
}

.doctors__item {
  display: block;
  text-align: center;

  max-width: 630px;
  height: auto;

  // background-color: rgb(225, 240, 225);
  background-color: var(--page-colour-white);
  box-shadow: var(--card-box-shadow);
  border: var(--page-colour-black) solid 3px;
  border-radius: 4px 4px 10px 10px;

  padding: 15px;

  @include tablet {
    width: calc((100% - 60px) / 3);
  }

  @include sm-desktop {
    width: calc((100% - 90px) / 4);
  }

  @include desktop {
    width: calc((100% - 120px) / 5);
  }
}

.doctors__image {
  width: 100%;
}

.doctors__subtitle {
  font-size: 20px;
  color: var(--main-title-color);

  margin-top: 15px;
  margin-bottom: 10px;

  @include tablet {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  @include desktop {
    margin-bottom: 20px;
  }
}

.doctors__text {
  color: var(--main-title-color);
}

.doctors__link {
  display: inline-block;

  text-align: center;

  background-color: var(--text-colour-black);
  color: #ffffff;

  border: none;
  border-radius: 5px;

  margin-top: 20px;
  padding: 10px 20px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--main-hover-focus-color);
  }
}
