.gallery {
  padding-top: 100px;
  padding-bottom: 50px;

  @include sm-desktop {
    padding-top: 140px;
  }
}

.gallery__title {
  font-size: 32px;
  text-align: center;
  color: var(--main-title-color);

  margin-bottom: 40px;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;

  justify-content: center;

  padding: 0;
}

.gallery__item {
  position: relative;
  box-shadow: var(--card-box-shadow);
}

.gallery-image__preview {
  height: 100%;
  width: 100%;

  object-fit: cover;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image__preview:hover {
  transform: scale(1.03);
}

.gallery-image__full {
  display: block;
  height: 100%;
}
