.prices {
  padding-top: 100px;
  padding-bottom: 80px;

  @include sm-desktop {
    padding-top: 140px;
  }
}

.prices__title {
  font-size: 32px;
  color: var(--main-title-color);
  text-align: center;

  margin-bottom: 40px;
}

.prices__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  width: 100%;
  height: 924px;

  background-color: var(--page-colour-black);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  padding: 30px;

  @include tablet {
    height: 970px;
  }

  @include sm-desktop {
    flex-direction: row;
    height: 500px;
  }
}

.prices__block {
  width: 100%;
  height: 417px;

  background-color: var(--bg-card-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  padding: 20px;

  @include tablet {
    height: 440px;
  }
}

.prices__item {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 20px;
}

.prices__item::after {
  content: '';
  display: block;
  height: 1px;

  flex-grow: 1;

  background-color: black;
}

.prices__text {
  font-size: 14px;
  color: var(--main-title-color);

  @include tablet {
    font-size: 16px;
  }
}

.prices__text:first-child {
  margin-right: 20px;
}

.prices__text:last-child {
  margin-left: 20px;
  order: 1;
}
