.footer {
  background-color: var(--footer-bg);
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 400px;
}

.footer__title {
  font-size: 32px;
  font-weight: 700;

  text-align: center;

  color: var(--bg-text-color);
}
