.footer {
  background-color: rgb(47, 45, 45);
}

.footer .container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: white;
}
