.header-up {
  background-color: rgb(255, 174, 0);
  display: none;

  @include sm-desktop {
    display: block;
  }
}

.header-up__address {
  color: black;
  float: none;
}

.header-up__phonelist {
  display: flex;
  gap: 30px;
}

.header-up__phone {
  color: black;
}

//===========================================================

.header-down {
  border-bottom: rgb(211, 203, 203) 1px solid;
  display: none;

  @include sm-desktop {
    display: block;
  }
}

.header-down .header-container {
  height: 70px;
}

.header-down__list {
  display: flex;
  align-items: center;
  gap: 30px;

  @media screen and (min-width: 1300px) {
    gap: 60px;
  }
}

.header-down__item {
  font-weight: 600;
  font-size: 18px;

  @media screen and (min-width: 1300px) {
    font-size: 20px;
  }
}

.header-down__link {
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1300px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header-down__link:hover,
.header-down__link:focus {
  color: rgb(15, 15, 141);
}

.header-down__button {
  display: block;
  width: 200px;
  height: 50px;

  font-size: 20px;
  font-weight: 700;

  background-color: lightgreen;

  border: transparent;
  border-radius: 4px;
  box-shadow: transparent;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-down__button:hover {
  background-color: rgb(119, 237, 119);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

//===========================================================

.header-menu {
  display: none;
  @media screen and (max-width: 1023px) {
    display: block;
  }
}
