.header-up {
  display: none;

  background-color: var(--header-up-bg);

  @include sm-desktop {
    display: block;
  }
}

.header-up__phonelist {
  display: flex;
  gap: 30px;
}

.header-up__link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--main-title-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: white;
  }
}

.header-up__address-icon {
  margin-left: 10px;
  fill: currentColor;
}

.header-up__phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

//============================================================//

.header-down {
  display: none;

  background-color: var(--header-down-bg);
  border-bottom: rgb(211, 203, 203) 1px solid;

  @include sm-desktop {
    display: block;
  }
}

.header-down .header-container {
  height: 60px;
}

.header-down__list {
  display: flex;
  align-items: center;
  gap: 30px;

  @media screen and (min-width: 1300px) {
    gap: 60px;
  }
}

.header-down__item {
  font-weight: 600;
  font-size: 18px;

  @media screen and (min-width: 1300px) {
    font-size: 20px;
  }
}

.header-down__link {
  color: var(--main-title-color);

  padding-top: 17px;
  padding-bottom: 17px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1300px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &:hover,
  &:focus {
    color: var(--main-hover-focus-color);
  }
}

.header-down__wrap {
  display: flex;
  gap: 10px;
}

.header-down__reference {
  width: 200px;
  height: 50px;

  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  background-color: var(--button-color);
  color: var(--main-title-color);

  border: none;
  border-radius: 5px;

  padding: 14px;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button-hover-focus-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

// ============================================================//

.header-menu {
  display: none;

  @media screen and (max-width: 1023px) {
    display: block;
  }
}
